.menu{
    height: 100%;
    display: flex;
    margin: 0 30px;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: 0.7s;
    border-top: 10px solid #151515;
    border-bottom: 10px solid #000;
    border-left: 5px solid #6d5656;
    border-right: 5px solid #6d5656;
    background: linear-gradient(
    217deg,
    rgba(255, 0, 0, 0.8),
    rgba(255, 0, 0, 0) 70.71%
    ), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    }

    .menu h2:hover{
     color:black;
     background-color:gold;
     box-shadow:0 0 10px gold , 0 0 40px gold, 0 0 80px gold;

    }

    .button {
        background-color: #5ea860; /* Green */
        border: none;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        border-radius: 15px;
        font-weight: bold;
       }
.button:hover {
           background-color: #113f13; /* Green */
           color: white;
           padding-right: 25px;
           font-weight: bold;
       }  
.button span {
           cursor: pointer;
           display: inline-block;
           position: relative;
           transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
 right: 0;
}


img{
    width: 200px;
    height: 200px;
    border: 1px solid;
    position: absolute;
    
}

#uno{
    top: 5px;
    left: 5px;
}

#dos{
    top: 50px;
    left: 50px;
}

#tres{
    top: 100px;
    left: 100px;
}

#cuatro{
    top: 150px;
    left: 150px;
}

#cinco{
    top: 200px;
    left: 200px;
}

#contenedor{
    border: 1px solid;
    width: 400px;
    height: 400px;
    position: relative;
    padding: 5px;
}

img:hover{
    border: 7px solid blueviolet;
    z-index: 100;
}

#uno:hover ~ img.esconder{
    visibility: hidden;

}

#dos:hover ~ img.esconder{
    visibility: hidden;
    
}

#tres:hover ~ img.esconder{
    visibility: hidden;
    
}

#cuatro:hover ~ img.esconder{
    visibility: hidden;
    
}

#cinco:hover ~ img.esconder{
    visibility: hidden;
    
}
